.about-section {
    display: block;
    margin: 0 auto;
    width: 315px;
    font-size: 12pt;
    font-family: 'Baskerville','Baskerville Old Face','Hoefler Text','Garamond','Times New Roman','serif';
}